@media screen and (max-width: 767px) {
    .cards-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 30px;
        overflow-x: auto;

        margin-top: 30px;
        margin-bottom: 30px;
    }

    .card {
        width: 70%;
        font-size: 15px;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
    }

    .card-image {
        width: 100%;
        border-radius: 9px;
        margin-bottom: 9px;
    }

    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-stats {
        display: flex;
        align-items: center;

        font-family: 'Poppins', sans-serif;
        color: #222;
        font-weight: 300;
    }

    .card-stats span {
        margin-right: 5px;
    }

    .card-stats span:nth-last-of-type(2),
    .card-stats span:nth-last-of-type(1) {
        color: #918E9B;
        font-weight: 300;
    }

    .card-star {
        height: 15px;
        margin-right: 5px;
    }

    .card-price {
        margin-top: auto;
    }

    p {
        font-weight: 300;
    }

    .bold {
        font-weight: 600;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cards-list {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 30px;
        overflow-x: auto;

        margin-top: 30px;
        margin-bottom: 30px;
    }

    .card {
        width: 28%;
        font-size: 16px;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
    }

    .card-image {
        width: 100%;
        border-radius: 9px;
        margin-bottom: 9px;
    }

    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-stats {
        display: flex;
        align-items: center;

        font-family: 'Poppins', sans-serif;
        color: #222;
        font-weight: 300;
    }

    .card-stats span {
        margin-right: 5px;
    }

    .card-stats span:nth-last-of-type(2),
    .card-stats span:nth-last-of-type(1) {
        color: #918E9B;
        font-weight: 300;
    }

    .card-star {
        height: 15px;
        margin-right: 5px;
    }

    .card-price {
        margin-top: auto;
    }

    p {
        font-weight: 300;
    }

    .bold {
        font-weight: 600;
    }
}

@media screen and (min-width: 1024px) {
    .cards-list {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 80px;
        overflow-x: auto;

        margin-top: 30px;
        margin-bottom: 30px;
    }

    .card {
        width: 20%;
        font-size: 18px;
        display: flex;
        flex: 0 0 auto;
        flex-direction: column;
    }

    .card-image {
        width: 100%;
        border-radius: 9px;
        margin-bottom: 9px;
    }

    .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-stats {
        display: flex;
        align-items: center;

        font-family: 'Poppins', sans-serif;
        color: #222;
        font-weight: 300;
    }

    .card-stats span {
        margin-right: 5px;
    }

    .card-stats span:nth-last-of-type(2),
    .card-stats span:nth-last-of-type(1) {
        color: #918E9B;
        font-weight: 300;
    }

    .card-star {
        height: 15px;
        margin-right: 5px;
    }

    .card-price {
        margin-top: auto;
    }

    p {
        font-weight: 300;
    }

    .bold {
        font-weight: 600;
    }
}